{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}The Bloom Room {%endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- ======= About =======-->
        <section class="hero__v6 section about__v4 section" id="about">
          <div class="container">
            <div class="row">
              <div class="col-md-6 order-md-2">
                <div class="row justify-content-end">
                  <div class="col-md-11 mb-4 mb-md-0"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">About us</span>
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="100">Experience the ultimate Brawl Stars gaming with our secure, efficient, and user-friendly resource services</h2>
                    <div data-aos="fade-up" data-aos-delay="200">
                      <p>Founded with the vision of revolutionizing the gaming industry, we are a leading provider of Brawl Stars resources dedicated to providing innovative and secure solutions.</p>
                      <p>Our cutting-edge platform ensures your gaming experience is safe, streamlined, and easy to manage, empowering you to take control of your Brawl Stars journey with confidence and convenience.</p>
                      <p>With our user-friendly interface, you can easily access and manage your resources, track your progress, and stay up-to-date with the latest developments in the Brawl Stars community.</p>
                    </div>
                    <h4 class="small fw-bold mt-4 mb-3" data-aos="fade-up" data-aos-delay="300">Key Values and Vision</h4>
                    <ul class="d-flex flex-row flex-wrap list-unstyled gap-3 features" data-aos="fade-up" data-aos-delay="400">
                      <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Gaming</span></li>
                      <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Security</span></li>
                      <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Business</span></li>
                      <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Encrypted Transaction</span></li>
                      <li class="d-flex align-items-center gap-2"><span class="icon rounded-circle text-center"><i class="bi bi-check"></i></span><span class="text">Cheap</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6"> 
                <div class="img-wrap position-relative"><img class="img-fluid rounded-4" src="{% static 'images/about_2-min.jpg' %}" alt="FreeBootstrap.net image placeholder" data-aos="fade-up" data-aos-delay="0">
                  <div class="mission-statement p-4 rounded-4 d-flex gap-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="mission-icon text-center rounded-circle"><i class="bi bi-lightbulb fs-4"></i></div>
                    <div>
                      <h3 class="text-uppercase fw-bold">Mission Statement</h3>
                      <p class="fs-5 mb-0">Our mission is to empower individuals and businesses by delivering secure, efficient, and user-friendly financial services.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End About-->
{% endblock %}