{% extends 'base.html' %} {% load static %}
<!-- prettier-ignore -->
{% block title %}The Bloom Room {%endblock %}
<!-- prettier-ignore -->
{% block content %}
<!-- ======= How it works =======-->
        <section class="section howitworks__v1 hero__v6 section" id="how-it-works">
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-6 text-center mx-auto"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">How it works</span>
                <h2 data-aos="fade-up" data-aos-delay="100">How It Works</h2>
                <p data-aos="fade-up" data-aos-delay="200">Our platform is designed to make managing your finances simple and efficient. Follow these easy steps to get started: </p>
              </div>
            </div>
            <div class="row g-md-5">
              <div class="col-md-6 col-lg-3">
                <div class="step-card text-center h-100 d-flex flex-column justify-content-start position-relative" data-aos="fade-up" data-aos-delay="0">
                  <div data-aos="fade-right" data-aos-delay="500"><img class="arch-line" src="{% static 'images/arch-line.svg' %}" alt="FreeBootstrap.net image placeholder"></div><span class="step-number rounded-circle text-center fw-bold mb-5 mx-auto">1</span>
                  <div>
                    <h3 class="fs-5 mb-4">Sign Up</h3>
                    <p>Visit our website or download our app to sign up. Provide basic information to set up your secure account.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="600">
                <div class="step-card reverse text-center h-100 d-flex flex-column justify-content-start position-relative">
                  <div data-aos="fade-right" data-aos-delay="1100"><img class="arch-line reverse" src="{% static 'images/arch-line-reverse.svg' %}" alt="FreeBootstrap.net image placeholder"></div><span class="step-number rounded-circle text-center fw-bold mb-5 mx-auto">2</span>
                  <h3 class="fs-5 mb-4">Set Up Your Profile</h3>
                  <p>Add your personal or business details to tailor the platform to your specific needs.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="1200">
                <div class="step-card text-center h-100 d-flex flex-column justify-content-start position-relative">
                  <div data-aos="fade-right" data-aos-delay="1700"><img class="arch-line" src="{% static 'images/arch-line.svg' %}" alt="FreeBootstrap.net image placeholder"></div><span class="step-number rounded-circle text-center fw-bold mb-5 mx-auto">3</span>
                  <h3 class="fs-5 mb-4">Explore Features</h3>
                  <p>Access your dashboard for a summary of your finances: balances, recent transactions, and insights.</p>
                </div>
              </div>
              <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="1800">
                <div class="step-card last text-center h-100 d-flex flex-column justify-content-start position-relative"><span class="step-number rounded-circle text-center fw-bold mb-5 mx-auto">4</span>
                  <div>
                    <h3 class="fs-5 mb-4">Invest and Grow</h3>
                    <p>Discover a variety of investment opportunities tailored to your financial goals.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End How it works-->
{% endblock %}