<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block title %}Brawl Stars gaming resources{%endblock %}
{% block content %}
<section class="hero__v6 section" id="home">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="row">
                  <div class="col-lg-11"><span class="hero-subtitle text-uppercase" data-aos="fade-up" data-aos-delay="0">Brawl Stars services</span>
                    <h1 class="hero-title mb-3" data-aos="fade-up" data-aos-delay="100">Secure, Efficient, and User-Friendly Gaming Resources</h1>
                    <p class="hero-description mb-4 mb-lg-5" data-aos="fade-up" data-aos-delay="200">Experience the future of Brawl Stars with our secure, efficient, and user-friendly services.</p>
                    <div class="cta d-flex gap-2 mb-4 mb-lg-5" data-aos="fade-up" data-aos-delay="300"><a class="btn" href="#">Get Started Now</a><a class="btn btn-white-outline" href="#">Learn More 
                        <svg class="lucide lucide-arrow-up-right" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                          <path d="M7 7h10v10"></path>
                          <path d="M7 17 17 7"></path>
                        </svg></a></div>
                    <div class="logos mb-4" data-aos="fade-up" data-aos-delay="400"><span class="logos-title text-uppercase mb-4 d-block">Trusted by major companies worldwide</span>
                      <div class="logos-images d-flex gap-4 align-items-center"><img class="img-fluid js-img-to-inline-svg" src="{% static 'images/logo/actual-size/logo-air-bnb__black.svg' %}" alt="Company 1" style="width: 110px;"><img class="img-fluid js-img-to-inline-svg" src="{% static 'images/logo/actual-size/logo-ibm__black.svg' %}" alt="Company 2" style="width: 80px;"><img class="img-fluid js-img-to-inline-svg" src="{% static 'images/logo/actual-size/logo-google__black.svg' %}" alt="Company 3" style="width: 110px;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="hero-img"><img class="img-card img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCxopwDz_y-m3mfbXuEA6d64cRiDHzfFTOuQ&s" alt="Image card" data-aos="fade-down" data-aos-delay="600"><img class="img-main img-fluid rounded-4" src="https://lfcarry.com/_next/image?url=https%3A%2F%2Fimg.lfcarry.com%2Fimg%2Fcustom%2Fcover%20(1)_67f3fc74efd54.webp&w=750&q=75" alt="Hero Image" data-aos="fade-in" data-aos-delay="500"></div>
              </div>
            </div>
          </div>
          <!-- End Hero-->
        </section>
        <!-- End Hero-->
        
        
        
        <!-- ======= Features =======-->
        <section class="section features__v2" id="features">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="d-lg-flex p-5 rounded-4 content" data-aos="fade-in" data-aos-delay="0">
                  <div class="row">
                    <div class="col-lg-5 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="0">
                      <div class="row"> 
                        <div class="col-lg-11">
                          <div class="h-100 flex-column justify-content-between d-flex">
                            <div>
                              <h2 class="mb-4">Why Choose us</h2>
                              <p class="mb-5">Secure, cheap, fast and 24/7 support. We are BServices, your one-stop solution for all your game resources needs.</p>
                            </div>
                            <div class="align-self-start"><a class="glightbox btn btn-play d-inline-flex align-items-center gap-2" href="https://www.youtube.com/watch?v=JSwk05Yhess"></i> Watch the Collab</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-7">
                      <div class="row justify-content-end">
                        <div class="col-lg-11">
                          <div class="row">
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="0">
                              <div class="icon text-center mb-4"><i class="bi bi-person-check fs-4"></i></div>
                              <h3 class="fs-6 fw-bold mb-3">User-Friendly Interface</h3>
                              <p>Easy navigation with responsive design for various devices.</p>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="100">
                              <div class="icon text-center mb-4"><i class="bi bi-graph-up fs-4"></i></div>
                              <h3 class="fs-6 fw-bold mb-3">Financial Analytics</h3>
                              <p>Budget tracking, expense categorization, and personalized insights.</p>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="200">
                              <div class="icon text-center mb-4"><i class="bi bi-headset fs-4"></i></div>
                              <h3 class="fs-6 fw-bold mb-3">Customer Support</h3>
                              <p>24/7 service via chat, email, phone, and a detailed help center.</p>
                            </div>
                            <div class="col-sm-6" data-aos="fade-up" data-aos-delay="300">
                              <div class="icon text-center mb-4"><i class="bi bi-shield-lock fs-4"></i></div>
                              <h3 class="fs-6 fw-bold mb-3">Security Features</h3>
                              <p>Data encryption, fraud detection, and prevention mechanisms.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Features-->
        
        
        
        <!-- ======= Stats =======-->
        <section class="stats__v3 section">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-wrap content rounded-4" data-aos="fade-up" data-aos-delay="0">
                  <div class="rounded-borders">
                    <div class="rounded-border-1"></div>
                    <div class="rounded-border-2"></div>
                    <div class="rounded-border-3"></div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="stat-item">
                      <h3 class="fs-1 fw-bold"><span class="purecounter" data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="2">0</span><span>K+</span></h3>
                      <p class="mb-0">Customer Satisfaction</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="200">
                    <div class="stat-item">
                      <h3 class="fs-1 fw-bold"> <span class="purecounter" data-purecounter-start="0" data-purecounter-end="200" data-purecounter-duration="2">0</span><span>%+</span></h3>
                      <p class="mb-0">Revenue Increase</p>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0 text-center" data-aos="fade-up" data-aos-delay="300">
                    <div class="stat-item">
                      <h3 class="fs-1 fw-bold"><span class="purecounter" data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="2">0</span><span>x</span></h3>
                      <p class="mb-0">Business Growth</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Stats-->
        
        
        <!-- ======= Testimonials =======-->
        <section class="section testimonials__v2" id="users_comment">
          <div class="container">
            <div class="row mb-5">
                <h2 class="mb-3" data-aos="fade-up" data-aos-delay="100">What Our Users Are Saying</h2>
                <p data-aos="fade-up" data-aos-delay="200">Real Stories of Success and Satisfaction from Our Diverse Community</p>
              </div>
            </div>
            <div class="row g-4" data-masonry="{&quot;percentPosition&quot;: true }">
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    This platform has completely transformed the way I manage my business finances. The real-time transaction tracking and seamless payment options have saved me so much time and effort!
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-2-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">John Davis</strong><span>Small Business Owner</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    As a freelancer, managing my finances can be overwhelming. The budgeting tools and personalized insights have made it so much easier to stay on top of my expenses and plan for the future.
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-1-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">Emily Smith</strong><span>Freelancer</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    The investment options and portfolio management tools on this platform are top-notch. The variety of choices caters to all types of investors, from conservative to aggressive. I especially appreciate how the tailored recommendations align perfectly with my financial goals. It’s a game-changer for anyone serious about growing their wealth.
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-5-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">Michael Rodriguez</strong><span>Investor</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    I never thought managing money could be this simple! The user-friendly interface and secure transaction process give me the confidence to handle my finances independently.
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-3-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">Sarah Lee</strong><span>College Student</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    The platform’s intuitive design and robust features have been a game-changer for my startup. It’s helped me streamline operations and focus on growing my business.
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-7-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">James Kim</strong><span>IT Consultant</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="500">
                <div class="testimonial rounded-4 p-4">
                  <blockquote class="mb-3">
                     &ldquo;
                    This game is amazing! I love playing with my friends and unlocking new Brawlers. The fast-paced action keeps me coming back for more.
                    &rdquo;
                  </blockquote>
                  <div class="testimonial-author d-flex gap-3 align-items-center">
                    <div class="author-img"><img class="rounded-circle img-fluid" src="{% static 'images/person-sq-8-min.jpg' %}" alt="FreeBootstrap.net image placeholder"></div>
                    <div class="lh-base"><strong class="d-block">Laura Brown</strong><span>Entrepreneur</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Testimonials-->
        
        
        
        <!-- ======= Contact =======-->
        <section class="section contact__v2" id="contact">
          <div class="container">
            <div class="row mb-5">
              <div class="col-md-6 col-lg-7 mx-auto text-center"><span class="subtitle text-uppercase mb-3" data-aos="fade-up" data-aos-delay="0">Contact</span>
                <h2 class="h2 fw-bold mb-3" data-aos="fade-up" data-aos-delay="0">Contact Us</h2>
                <p data-aos="fade-up" data-aos-delay="100">Utilize our tools to develop your concepts and bring your vision to life. Once complete, effortlessly share your creations.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="d-flex gap-5 flex-column">
                  <div class="d-flex align-items-start gap-3" data-aos="fade-up" data-aos-delay="0">
                    <div class="icon d-block"><i class="bi bi-telephone"></i></div><span> <span class="d-block">Phone</span><strong>+(01 234 567 890)</strong></span>
                  </div>
                  <div class="d-flex align-items-start gap-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon d-block"><i class="bi bi-send"></i></div><span> <span class="d-block">Email</span><strong>info@mydomain.com</strong></span>
                  </div>
                  <div class="d-flex align-items-start gap-3" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon d-block"><i class="bi bi-geo-alt"></i></div><span> <span class="d-block">Address</span>
                      <address class="fw-bold">123 Main Street Apt 4B Springfield, <br> IL 62701 United States</address></span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-wrapper" data-aos="fade-up" data-aos-delay="300">
                  <form id="contactForm">
                    <div class="row gap-3 mb-3">
                      <div class="col-md-12">
                        <label class="mb-2" for="name">Name</label>
                        <input class="form-control" id="name" type="text" name="name" required="">
                      </div>
                      <div class="col-md-12">
                        <label class="mb-2" for="email">Email</label>
                        <input class="form-control" id="email" type="email" name="email" required="">
                      </div>
                    </div>
                    <div class="row gap-3 mb-3">
                      <div class="col-md-12">
                        <label class="mb-2" for="subject">Subject</label>
                        <input class="form-control" id="subject" type="text" name="subject">
                      </div>
                    </div>
                    <div class="row gap-3 gap-md-0 mb-3">
                      <div class="col-md-12">
                        <label class="mb-2" for="message">Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" required=""></textarea>
                      </div>
                    </div>
                    <button class="btn btn-primary fw-semibold" type="submit">Send Message</button>
                  </form>
                  <div class="mt-3 d-none alert alert-success" id="successMessage">Message sent successfully!</div>
                  <div class="mt-3 d-none alert alert-danger" id="errorMessage">Message sending failed. Please try again later.</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact-->
        
{% endblock %}